name: Node.js CI

permissions:
  contents: read
  checks: write

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: front

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: front/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Ensure test-results folder exists
        run: mkdir -p test-results

      - name: Run tests with coverage
        run: npm run test -- \
          --browsers=ChromeHeadlessNoSandbox \
          --watch=false \
          --code-coverage \
          --karma-config=karma.conf.js

      - name: Debug test-results
        run: ls -R test-results || echo "⚠️ Aucun fichier XML généré"

      - name: Test Reporting (JUnit)
        uses: phoenix-actions/test-reporting@v15
        if: always()
        with:
          name: Angular Unit Tests
          path: test-results/**/*.xml
          reporter: java-junit

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/

